.profile-modal {
  max-width: 450px;
}

.modal-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 2px solid #d1d5db;
  border-radius: 10px;
  font-size: 1rem;
}

.form-input:focus {
  border-color: #6366f1;
  outline: none;
  box-shadow: 0px 0px 5px rgba(99, 102, 241, 0.4);
}
